//
// Variables file
//
// Space for any custom variables used by this application
//

@imgUrl: '.';

@header-height: 50px;
@header-margin-top: 1px;

@sidebar-width: 250px;
@sidebar-toolbar-height: 50px;
